
<h1> <%= @iterations.first.Name %></h1>
<br>
<p><b>Schedule State: </b><%= @iterations.first.ScheduleState %></p>
<p><b>Plan Estimate: </b><%= @iterations.first.PlanEstimate %></p>
<p><b>Task Actual Total: </b><%= @iterations.first.TaskActualTotal %></p>
<p><b>Task Estimate Total: </b><%= @iterations.first.TaskEstimateTotal %></p>
<p><b>Owner: </b><%= @iterations.first.Owner %></p>
<p><b>EndDate: </b><%= @iterations.first.EndDate %></p>
<br>
<hr>