Display results



Iteration Name
Created at
 <br/>
<% @results.each do |r| %>
 <br/>
<p><b>Name:  </b><%= r.Name %><br>
<b>ID:  </b><%= r.FormattedID %><br>
<b>Iteration:  </b><%= r.Iteration %><br>
<b>Plan Estimate:  </b><%= r.PlanEstimate %><br>
<b>Task Actuals:  </b><%= r.TaskActualTotal %><br>
<b>Task EStimate:  </b><%= r.TaskEstimateTotal %><br>
<% r.Tasks.each do || %>
<%= r.Tasks["_refObjectName"] %></p>
<% end %>
<br>
<% end %>



